/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
 html{
    box-sizing:border-box
}
*,*:before,*:after{
    box-sizing:inherit
}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
 html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}

/* Image Grid - Start*/
.imagegrid_row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create three equal columns that sit next to each other */
.imagegrid_column {
  -ms-flex: 33.33%; /* IE10 */
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 4px;
}

.imagegrid_column_summary {
  -ms-flex: 33.33%; /* IE10 */
  flex: 33.33%;
  max-width: 33.33%;
}

.imagegrid_column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.imagegrid_column_summary img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* Image Grid - End */
 article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{
    display:block
}
summary{
    display:list-item
}
 audio,canvas,progress,video{
    display:inline-block
}
progress{
    vertical-align:baseline
}
 audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
 a{
    background-color:transparent
}
a:active,a:hover{
    outline-width:0
}
 abbr[title]{
    border-bottom:none;
    text-decoration:underline;
    text-decoration:underline dotted
}
 b,strong{
    font-weight:bolder
}
dfn{
    font-style:italic
}
mark{
    background:#ff0;
    color:#000
}
 small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
 sub{
    bottom:-0.25em
}
sup{
    top:-0.5em
}
figure{
    margin:1em 40px
}
img{
    border-style:none
}
 code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}
hr{
    box-sizing:content-box;
    height:0;
    overflow:visible
}
 button,input,select,textarea,optgroup{
    font:inherit;
    margin:0
}
optgroup{
    font-weight:bold
}
 button,input{
    overflow:visible
}
button,select{
    text-transform:none
}
 button,[type=button],[type=reset],[type=submit]{
    -webkit-appearance:button
}
 button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{
    border-style:none;
    padding:0
}
 button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{
    outline:1px dotted ButtonText
}
 fieldset{
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:.35em .625em .75em
}
 legend{
    color:inherit;
    display:table;
    max-width:100%;
    padding:0;
    white-space:normal
}
textarea{
    overflow:auto
}
 [type=checkbox],[type=radio]{
    padding:0
}
 [type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
    height:auto
}
 [type=search]{
    -webkit-appearance:textfield;
    outline-offset:-2px
}
 [type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
 ::-webkit-file-upload-button{
    -webkit-appearance:button;
    font:inherit
}
/* End extract */
 html,body{
    font-family:Verdana,sans-serif;
    font-size:15px;
    line-height:1.5
}
html{
    overflow-x:hidden
}
 h1{
    font-size:36px
}
h2{
    font-size:30px
}
h3{
    font-size:24px
}
h4{
    font-size:20px
}
h5{
    font-size:18px
}
h6{
    font-size:16px
}
 .lp-serif{
    font-family:serif
}
.lp-sans-serif{
    font-family:sans-serif
}
.lp-cursive{
    font-family:cursive
}
.lp-monospace{
    font-family:monospace
}
 h1,h2,h3,h4,h5,h6{
    font-family:"Segoe UI",Arial,sans-serif;
    font-weight:400;
    margin:10px 0
}
.lp-wide{
    letter-spacing:4px
}
 hr{
    border:0;
    border-top:1px solid #eee;
    margin:20px 0
}
 .lp-image{
    max-width:100%;
    height:auto
}
img{
    vertical-align:middle
}
a{
    color:inherit
}
 .lp-table,.lp-table-all{
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
    display:table
}
.lp-table-all{
    border:1px solid #ccc
}
 .lp-bordered tr,.lp-table-all tr{
    border-bottom:1px solid #ddd
}
.lp-striped tbody tr:nth-child(even){
    background-color:#f1f1f1
}
 .lp-table-all tr:nth-child(odd){
    background-color:#fff
}
.lp-table-all tr:nth-child(even){
    background-color:#f1f1f1
}
 .lp-hoverable tbody tr:hover,.lp-ul.lp-hoverable li:hover{
    background-color:#ccc
}
.lp-centered tr th,.lp-centered tr td{
    text-align:center
}
 .lp-table td,.lp-table th,.lp-table-all td,.lp-table-all th{
    padding:8px 8px;
    display:table-cell;
    text-align:left;
    vertical-align:top
}
 .lp-table th:first-child,.lp-table td:first-child,.lp-table-all th:first-child,.lp-table-all td:first-child{
    padding-left:16px
}
 .lp-btn,.lp-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}
 .lp-btn:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}
 .lp-btn,.lp-button{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
 .lp-disabled,.lp-btn:disabled,.lp-button:disabled{
    cursor:not-allowed;
    opacity:0.3
}
.lp-disabled *,:disabled *{
    pointer-events:none
}
 .lp-btn.lp-disabled:hover,.lp-btn:disabled:hover{
    box-shadow:none
}
 .lp-badge,.lp-tag{
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center
}
.lp-badge{
    border-radius:50%
}
 .lp-ul{
    list-style-type:none;
    padding:0;
    margin:0
}
.lp-ul li{
    padding:8px 16px;
    border-bottom:1px solid #ddd
}
.lp-ul li:last-child{
    border-bottom:none
}
 .lp-tooltip,.lp-display-container{
    position:relative
}
.lp-tooltip .lp-text{
    display:none
}
.lp-tooltip:hover .lp-text{
    display:inline-block
}
 .lp-ripple:active{
    opacity:0.5
}
.lp-ripple{
    transition:opacity 0s
}
 .lp-input{
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:100%
}
 .lp-select{
    padding:9px 0;
    width:100%;
    border:none;
    border-bottom:1px solid #ccc
}
 .lp-dropdown-click,.lp-dropdown-hover{
    position:relative;
    display:inline-block;
    cursor:pointer
}
 .lp-dropdown-hover:hover .lp-dropdown-content{
    display:block
}
 .lp-dropdown-hover:first-child,.lp-dropdown-click:hover{
    background-color:#ccc;
    color:#000
}
 .lp-dropdown-hover:hover > .lp-button:first-child,.lp-dropdown-click:hover > .lp-button:first-child{
    background-color:#ccc;
    color:#000
}
 .lp-dropdown-content{
    cursor:auto;
    color:#000;
    background-color:#fff;
    display:none;
    position:absolute;
    min-width:160px;
    margin:0;
    padding:0;
    z-index:1
}
 .lp-check,.lp-radio{
    width:24px;
    height:24px;
    position:relative;
    top:6px
}
 .lp-sidebar{
    height:100%;
    width:200px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto
}
 .lp-bar-block .lp-dropdown-hover,.lp-bar-block .lp-dropdown-click{
    width:100%
}
 .lp-bar-block .lp-dropdown-hover .lp-dropdown-content,.lp-bar-block .lp-dropdown-click .lp-dropdown-content{
    min-width:100%
}
 .lp-bar-block .lp-dropdown-hover .lp-button,.lp-bar-block .lp-dropdown-click .lp-button{
    width:100%;
    text-align:left;
    padding:8px 16px
}
 .lp-main,.lp-main-frame,#main{
    transition:margin-left .4s
}
 .lp-modal{
    z-index:3;
    display:none;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4)
}
 .lp-modal-content{
    margin:auto;
    background-color:#fff;
    position:relative;
    padding:0;
    outline:0;
    width:600px
}
 .lp-bar{
    width:100%;
    overflow:hidden
}
.lp-center .lp-bar{
    display:inline-block;
    width:auto
}
 .lp-bar .lp-bar-item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}
 .lp-bar .lp-dropdown-hover,.lp-bar .lp-dropdown-click{
    position:static;
    float:left
}
 .lp-bar .lp-button{
    white-space:normal
}
 .lp-bar-block .lp-bar-item{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0
}
 .lp-bar-block.lp-center .lp-bar-item{
    text-align:center
}
.lp-block{
    display:block;
    width:100%
}
 .lp-responsive{
    display:block;
    overflow-x:auto
}
 .lp-container:after,.lp-container:before,.lp-panel:after,.lp-panel:before,.lp-row:after,.lp-row:before,.lp-row-padding:after,.lp-row-padding:before, .lp-cell-row:before,.lp-cell-row:after,.lp-clear:after,.lp-clear:before,.lp-bar:before,.lp-bar:after{
    content:"";
    display:table;
    clear:both
}
 .lp-col,.lp-half,.lp-third,.lp-twothird,.lp-threequarter,.lp-quarter{
    float:left;
    width:100%
}
 .lp-col.s1{
    width:8.33333%
}
.lp-col.s2{
    width:16.66666%
}
.lp-col.s3{
    width:24.99999%
}
.lp-col.s4{
    width:33.33333%
}
 .lp-col.s5{
    width:41.66666%
}
.lp-col.s6{
    width:49.99999%
}
.lp-col.s7{
    width:58.33333%
}
.lp-col.s8{
    width:66.66666%
}
 .lp-col.s9{
    width:74.99999%
}
.lp-col.s10{
    width:83.33333%
}
.lp-col.s11{
    width:91.66666%
}
.lp-col.s12{
    width:99.99999%
}
 @media (min-width:601px){
    .lp-col.m1{
        width:8.33333%
    }
    .lp-col.m2{
        width:16.66666%
    }
    .lp-col.m3,.lp-quarter{
        width:24.99999%
    }
    .lp-col.m4,.lp-third{
        width:33.33333%
    }
     .lp-col.m5{
        width:41.66666%
    }
    .lp-col.m6,.lp-half{
        width:49.99999%
    }
    .lp-col.m7{
        width:58.33333%
    }
    .lp-col.m8,.lp-twothird{
        width:66.66666%
    }
     .lp-col.m9,.lp-threequarter{
        width:74.99999%
    }
    .lp-col.m10{
        width:83.33333%
    }
    .lp-col.m11{
        width:91.66666%
    }
    .lp-col.m12{
        width:99.99999%
    }
}
 @media (min-width:993px){
    .lp-col.l1{
        width:8.33333%
    }
    .lp-col.l2{
        width:16.66666%
    }
    .lp-col.l3{
        width:24.99999%
    }
    .lp-col.l4{
        width:33.33333%
    }
     .lp-col.l5{
        width:41.66666%
    }
    .lp-col.l6{
        width:49.99999%
    }
    .lp-col.l7{
        width:58.33333%
    }
    .lp-col.l8{
        width:66.66666%
    }
     .lp-col.l9{
        width:74.99999%
    }
    .lp-col.l10{
        width:83.33333%
    }
    .lp-col.l11{
        width:91.66666%
    }
    .lp-col.l12{
        width:99.99999%
    }
}
 .lp-rest{
    overflow:hidden
}
.lp-stretch{
    margin-left:-16px;
    margin-right:-16px
}
 .lp-content,.lp-auto{
    margin-left:auto;
    margin-right:auto
}
.lp-content{
    max-width:980px
}
.lp-auto{
    max-width:1140px
}
 .lp-cell-row{
    display:table;
    width:100%
}
.lp-cell{
    display:table-cell
}
 .lp-cell-top{
    vertical-align:top
}
.lp-cell-middle{
    vertical-align:middle
}
.lp-cell-bottom{
    vertical-align:bottom
}
 .lp-hide{
    display:none!important
}
.lp-show-block,.lp-show{
    display:block!important
}
.lp-show-inline-block{
    display:inline-block!important
}
 @media (max-width:1205px){
    .lp-auto{
        max-width:95%
    }
}
 @media (max-width:800px){
    .imagegrid_column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    
    .imagegrid_column_summary {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}
 @media (max-width:600px){
    .lp-modal-content{
        margin:0 10px;
        width:auto!important
    }
    .lp-modal{
        padding-top:30px
    }
     .lp-dropdown-hover.lp-mobile .lp-dropdown-content,.lp-dropdown-click.lp-mobile .lp-dropdown-content{
        position:relative
    }
     .lp-hide-small{
        display:none!important
    }
    .lp-mobile{
        display:block;
        width:100%!important
    }
    .lp-bar-item.lp-mobile,.lp-dropdown-hover.lp-mobile,.lp-dropdown-click.lp-mobile{
        text-align:center
    }
     .lp-dropdown-hover.lp-mobile,.lp-dropdown-hover.lp-mobile .lp-btn,.lp-dropdown-hover.lp-mobile .lp-button,.lp-dropdown-click.lp-mobile,.lp-dropdown-click.lp-mobile .lp-btn,.lp-dropdown-click.lp-mobile .lp-button{
        width:100%
    }
    .imagegrid_column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    
    .imagegrid_column_summary {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
 @media (max-width:768px){
    .lp-modal-content{
        width:500px
    }
    .lp-modal{
        padding-top:50px
    }
}
 @media (min-width:993px){
    .lp-modal-content{
        width:900px;
        left:150px /*added*/
    }
    .lp-hide-large{
        display:none!important
    }
    .lp-sidebar.lp-collapse{
        display:block!important
    }
}
 @media (max-width:992px) and (min-width:601px){
    .lp-hide-medium{
        display:none!important
    }
}
 @media (max-width:992px){
    .lp-sidebar.lp-collapse{
        display:none
    }
    .lp-main,.lp-main-frame{
        margin-left:0!important;
        margin-right:0!important
    }
    .lp-auto{
        max-width:100%
    }
    .lp-modal-content{
        padding-top: 120px !important; /*added*/
    }
}
 .lp-top,.lp-bottom{
    position:fixed;
    width:100%;
    z-index:1
}
.lp-top{
    top:0
}
.lp-bottom{
    bottom:0
}
 .lp-overlay{
    position:fixed;
    display:none;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:2
}
 .lp-display-topleft{
    position:absolute;
    left:0;
    top:0
}
.lp-display-topright{
    position:absolute;
    right:0;
    top:0
}
 .lp-display-bottomleft{
    position:absolute;
    left:0;
    bottom:0
}
.lp-display-bottomright{
    position:absolute;
    right:0;
    bottom:0
}
 .lp-display-middle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}
 .lp-display-left{
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}
 .lp-display-right{
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%)
}
 .lp-display-topmiddle{
    position:absolute;
    left:50%;
    top:0;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%)
}
 .lp-display-bottommiddle{
    position:absolute;
    left:50%;
    bottom:0;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%)
}
 .lp-display-container:hover .lp-display-hover{
    display:block
}
.lp-display-container:hover span.lp-display-hover{
    display:inline-block
}
.lp-display-hover{
    display:none
}
 .lp-display-position{
    position:absolute
}
 .lp-circle{
    border-radius:50%
}
 .lp-round-small{
    border-radius:2px
}
.lp-round,.lp-round-medium{
    border-radius:4px
}
.lp-round-large{
    border-radius:8px
}
.lp-round-xlarge{
    border-radius:16px
}
.lp-round-xxlarge{
    border-radius:32px
}
 .lp-row-padding,.lp-row-padding>.lp-half,.lp-row-padding>.lp-third,.lp-row-padding>.lp-twothird,.lp-row-padding>.lp-threequarter,.lp-row-padding>.lp-quarter,.lp-row-padding>.lp-col{
    padding:0 8px
}
 .lp-container,.lp-panel{
    padding:0.01em 16px
}
.lp-panel{
    margin-top:16px;
    margin-bottom:16px
}
 .lp-code,.lp-codespan{
    font-family:Consolas,"courier new";
    font-size:16px
}
 .lp-code{
    width:auto;
    background-color:#fff;
    padding:8px 12px;
    /*border-left:4px solid #4CAF50;*/
    border-left:4px solid #F44336;
    word-wrap:break-word
}
 .lp-codespan{
    color:crimson;
    background-color:#f1f1f1;
    padding-left:4px;
    padding-right:4px;
    font-size:110%
}
 .lp-card,.lp-card-2{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
 .lp-card-4,.lp-hover-shadow:hover{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}
 .lp-spin{
    animation:lp-spin 2s infinite linear
}
@keyframes lp-spin{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(359deg)
    }
}
 .lp-animate-fading{
    animation:fading 10s infinite
}
@keyframes fading{
    0%{
        opacity:0
    }
    50%{
        opacity:1
    }
    100%{
        opacity:0
    }
}
 .lp-animate-opacity{
    animation:opac 0.8s
}
@keyframes opac{
    from{
        opacity:0
    }
     to{
        opacity:1
    }
}
 .lp-animate-top{
    position:relative;
    animation:animatetop 0.4s
}
@keyframes animatetop{
    from{
        top:-300px;
        opacity:0
    }
     to{
        top:0;
        opacity:1
    }
}
 .lp-animate-left{
    position:relative;
    animation:animateleft 0.4s
}
@keyframes animateleft{
    from{
        left:-300px;
        opacity:0
    }
     to{
        left:0;
        opacity:1
    }
}
 .lp-animate-right{
    position:relative;
    animation:animateright 0.4s
}
@keyframes animateright{
    from{
        right:-300px;
        opacity:0
    }
     to{
        right:0;
        opacity:1
    }
}
 .lp-animate-bottom{
    position:relative;
    animation:animatebottom 0.4s
}
@keyframes animatebottom{
    from{
        bottom:-300px;
        opacity:0
    }
     to{
        bottom:0;
        opacity:1
    }
}
 .lp-animate-zoom {
    animation:animatezoom 0.6s
}
@keyframes animatezoom{
    from{
        transform:scale(0)
    }
     to{
        transform:scale(1)
    }
}
 .lp-animate-input{
    transition:width 0.4s ease-in-out
}
.lp-animate-input:focus{
    width:100%!important
}
 .lp-opacity,.lp-hover-opacity:hover{
    opacity:0.60
}
.lp-opacity-off,.lp-hover-opacity-off:hover{
    opacity:1
}
 .lp-opacity-max{
    opacity:0.25
}
.lp-opacity-min{
    opacity:0.75
}
 .lp-greyscale-max,.lp-grayscale-max,.lp-hover-greyscale:hover,.lp-hover-grayscale:hover{
    filter:grayscale(100%)
}
 .lp-greyscale,.lp-grayscale{
    filter:grayscale(75%)
}
.lp-greyscale-min,.lp-grayscale-min{
    filter:grayscale(50%)
}
 .lp-sepia{
    filter:sepia(75%)
}
.lp-sepia-max,.lp-hover-sepia:hover{
    filter:sepia(100%)
}
.lp-sepia-min{
    filter:sepia(50%)
}
 .lp-tiny{
    font-size:10px!important
}
.lp-small{
    font-size:12px!important
}
.lp-medium{
    font-size:15px!important
}
.lp-large{
    font-size:18px!important
}
 .lp-xlarge{
    font-size:24px!important
}
.lp-xxlarge{
    font-size:36px!important
}
.lp-xxxlarge{
    font-size:48px!important
}
.lp-jumbo{
    font-size:64px!important
}
 .lp-left-align{
    text-align:left!important
}
.lp-right-align{
    text-align:right!important
}
.lp-justify{
    text-align:justify!important
}
.lp-center{
    text-align:center!important
}
 .lp-border-0{
    border:0!important
}
.lp-border{
    border:1px solid #ccc!important
}
 .lp-border-top{
    border-top:1px solid #ccc!important
}
.lp-border-bottom{
    border-bottom:1px solid #ccc!important
}
 .lp-border-left{
    border-left:1px solid #ccc!important
}
.lp-border-right{
    border-right:1px solid #ccc!important
}
 .lp-topbar{
    border-top:6px solid #ccc!important
}
.lp-bottombar{
    border-bottom:6px solid #ccc!important
}
 .lp-leftbar{
    border-left:6px solid #ccc!important
}
.lp-rightbar{
    border-right:6px solid #ccc!important
}
 .lp-section,.lp-code{
    margin-top:16px!important;
    margin-bottom:16px!important
}
 .lp-margin{
    margin:16px!important
}
.lp-margin-top{
    margin-top:16px!important
}
.lp-margin-bottom{
    margin-bottom:16px!important
}
 .lp-margin-left{
    margin-left:16px!important
}
.lp-margin-right{
    margin-right:16px!important
}
 .lp-padding-small{
    padding:4px 8px!important
}
.lp-padding{
    padding:8px 16px!important
}
.lp-padding-large{
    padding:12px 24px!important
}
 .lp-padding-16{
    padding-top:16px!important;
    padding-bottom:16px!important
}
.lp-padding-24{
    padding-top:24px!important;
    padding-bottom:24px!important
}
 .lp-padding-32{
    padding-top:32px!important;
    padding-bottom:32px!important
}
.lp-padding-48{
    padding-top:48px!important;
    padding-bottom:48px!important
}
 .lp-padding-64{
    padding-top:64px!important;
    padding-bottom:64px!important
}
 .lp-padding-top-64{
    padding-top:64px!important
}
 .lp-padding-128{ /*added*/
    padding-top:128px!important;
    padding-bottom:128px!important
}
.lp-padding-top-48{
    padding-top:48px!important
}
 .lp-padding-top-32{
    padding-top:32px!important
}
.lp-padding-top-24{
    padding-top:24px!important
}
 .lp-left{
    float:left!important
}
.lp-right{
    float:right!important
}
 .lp-button:hover{
    color:#000!important;
    background-color:#ccc!important
}
 .lp-transparent,.lp-hover-none:hover{
    background-color:transparent!important
}
 .lp-hover-none:hover{
    box-shadow:none!important
}
/* Colors */
 .lp-amber,.lp-hover-amber:hover{
    color:#000!important;
    background-color:#ffc107!important
}
 .lp-aqua,.lp-hover-aqua:hover{
    color:#000!important;
    background-color:#00ffff!important
}
 .lp-blue,.lp-hover-blue:hover{
    color:#fff!important;
    background-color:#2196F3!important
}
 .lp-light-blue,.lp-hover-light-blue:hover{
    color:#000!important;
    background-color:#87CEEB!important
}
 .lp-brown,.lp-hover-brown:hover{
    color:#fff!important;
    background-color:#795548!important
}
 .lp-cyan,.lp-hover-cyan:hover{
    color:#000!important;
    background-color:#00bcd4!important
}
 .lp-blue-grey,.lp-hover-blue-grey:hover,.lp-blue-gray,.lp-hover-blue-gray:hover{
    color:#fff!important;
    background-color:#607d8b!important
}
 .lp-green,.lp-hover-green:hover{
    color:#fff!important;
    background-color:#4CAF50!important
}
 .lp-light-green,.lp-hover-light-green:hover{
    color:#000!important;
    background-color:#8bc34a!important
}
 .lp-indigo,.lp-hover-indigo:hover{
    color:#fff!important;
    background-color:#3f51b5!important
}
 .lp-khaki,.lp-hover-khaki:hover{
    color:#000!important;
    background-color:#f0e68c!important
}
 .lp-lime,.lp-hover-lime:hover{
    color:#000!important;
    background-color:#cddc39!important
}
 .lp-orange,.lp-hover-orange:hover{
    color:#000!important;
    background-color:#ff9800!important
}
 .lp-deep-orange,.lp-hover-deep-orange:hover{
    color:#fff!important;
    background-color:#ff5722!important
}
 .lp-pink,.lp-hover-pink:hover{
    color:#fff!important;
    background-color:#e91e63!important
}
 .lp-purple,.lp-hover-purple:hover{
    color:#fff!important;
    background-color:#9c27b0!important
}
 .lp-deep-purple,.lp-hover-deep-purple:hover{
    color:#fff!important;
    background-color:#673ab7!important
}
 .lp-red,.lp-hover-red:hover{
    color:#fff!important;
    background-color:#f44336!important
}
 .lp-sand,.lp-hover-sand:hover{
    color:#000!important;
    background-color:#fdf5e6!important
}
 .lp-teal,.lp-hover-teal:hover{
    color:#fff!important;
    background-color:#009688!important
}
 .lp-yellow,.lp-hover-yellow:hover{
    color:#000!important;
    background-color:#ffeb3b!important
}
 .lp-white,.lp-hover-white:hover{
    color:#000!important;
    background-color:#fff!important
}
 .lp-black,.lp-hover-black:hover{
    color:#fff!important;
    background-color:#000!important
}
 .lp-grey,.lp-hover-grey:hover,.lp-gray,.lp-hover-gray:hover{
    color:#000!important;
    background-color:#9e9e9e!important
}
 .lp-light-grey,.lp-hover-light-grey:hover,.lp-light-gray,.lp-hover-light-gray:hover{
    color:#000!important;
    background-color:#f1f1f1!important
}
 .lp-dark-grey,.lp-hover-dark-grey:hover,.lp-dark-gray,.lp-hover-dark-gray:hover{
    color:#fff!important;
    background-color:#616161!important
}
 .lp-pale-red,.lp-hover-pale-red:hover{
    color:#000!important;
    background-color:#ffdddd!important
}
 .lp-pale-green,.lp-hover-pale-green:hover{
    color:#000!important;
    background-color:#ddffdd!important
}
 .lp-pale-yellow,.lp-hover-pale-yellow:hover{
    color:#000!important;
    background-color:#ffffcc!important
}
 .lp-pale-blue,.lp-hover-pale-blue:hover{
    color:#000!important;
    background-color:#ddffff!important
}
 .lp-text-amber,.lp-hover-text-amber:hover{
    color:#ffc107!important
}
 .lp-text-aqua,.lp-hover-text-aqua:hover{
    color:#00ffff!important
}
 .lp-text-blue,.lp-hover-text-blue:hover{
    color:#2196F3!important
}
 .lp-text-light-blue,.lp-hover-text-light-blue:hover{
    color:#87CEEB!important
}
 .lp-text-brown,.lp-hover-text-brown:hover{
    color:#795548!important
}
 .lp-text-cyan,.lp-hover-text-cyan:hover{
    color:#00bcd4!important
}
 .lp-text-blue-grey,.lp-hover-text-blue-grey:hover,.lp-text-blue-gray,.lp-hover-text-blue-gray:hover{
    color:#607d8b!important
}
 .lp-text-green,.lp-hover-text-green:hover{
    color:#4CAF50!important
}
 .lp-text-light-green,.lp-hover-text-light-green:hover{
    color:#8bc34a!important
}
 .lp-text-indigo,.lp-hover-text-indigo:hover{
    color:#3f51b5!important
}
 .lp-text-khaki,.lp-hover-text-khaki:hover{
    color:#b4aa50!important
}
 .lp-text-lime,.lp-hover-text-lime:hover{
    color:#cddc39!important
}
 .lp-text-orange,.lp-hover-text-orange:hover{
    color:#ff9800!important
}
 .lp-text-deep-orange,.lp-hover-text-deep-orange:hover{
    color:#ff5722!important
}
 .lp-text-pink,.lp-hover-text-pink:hover{
    color:#e91e63!important
}
 .lp-text-purple,.lp-hover-text-purple:hover{
    color:#9c27b0!important
}
 .lp-text-deep-purple,.lp-hover-text-deep-purple:hover{
    color:#673ab7!important
}
 .lp-text-red,.lp-hover-text-red:hover{
    color:#f44336!important
}
 .lp-text-sand,.lp-hover-text-sand:hover{
    color:#fdf5e6!important
}
 .lp-text-teal,.lp-hover-text-teal:hover{
    color:#009688!important
}
 .lp-text-yellow,.lp-hover-text-yellow:hover{
    color:#d2be0e!important
}
 .lp-text-white,.lp-hover-text-white:hover{
    color:#fff!important
}
 .lp-text-black,.lp-hover-text-black:hover{
    color:#000!important
}
 .lp-text-grey,.lp-hover-text-grey:hover,.lp-text-gray,.lp-hover-text-gray:hover{
    color:#757575!important
}
 .lp-text-light-grey,.lp-hover-text-light-grey:hover,.lp-text-light-gray,.lp-hover-text-light-gray:hover{
    color:#f1f1f1!important
}
 .lp-text-dark-grey,.lp-hover-text-dark-grey:hover,.lp-text-dark-gray,.lp-hover-text-dark-gray:hover{
    color:#3a3a3a!important
}
 .lp-border-amber,.lp-hover-border-amber:hover{
    border-color:#ffc107!important
}
 .lp-border-aqua,.lp-hover-border-aqua:hover{
    border-color:#00ffff!important
}
 .lp-border-blue,.lp-hover-border-blue:hover{
    border-color:#2196F3!important
}
 .lp-border-light-blue,.lp-hover-border-light-blue:hover{
    border-color:#87CEEB!important
}
 .lp-border-brown,.lp-hover-border-brown:hover{
    border-color:#795548!important
}
 .lp-border-cyan,.lp-hover-border-cyan:hover{
    border-color:#00bcd4!important
}
 .lp-border-blue-grey,.lp-hover-border-blue-grey:hover,.lp-border-blue-gray,.lp-hover-border-blue-gray:hover{
    border-color:#607d8b!important
}
 .lp-border-green,.lp-hover-border-green:hover{
    border-color:#4CAF50!important
}
 .lp-border-light-green,.lp-hover-border-light-green:hover{
    border-color:#8bc34a!important
}
 .lp-border-indigo,.lp-hover-border-indigo:hover{
    border-color:#3f51b5!important
}
 .lp-border-khaki,.lp-hover-border-khaki:hover{
    border-color:#f0e68c!important
}
 .lp-border-lime,.lp-hover-border-lime:hover{
    border-color:#cddc39!important
}
 .lp-border-orange,.lp-hover-border-orange:hover{
    border-color:#ff9800!important
}
 .lp-border-deep-orange,.lp-hover-border-deep-orange:hover{
    border-color:#ff5722!important
}
 .lp-border-pink,.lp-hover-border-pink:hover{
    border-color:#e91e63!important
}
 .lp-border-purple,.lp-hover-border-purple:hover{
    border-color:#9c27b0!important
}
 .lp-border-deep-purple,.lp-hover-border-deep-purple:hover{
    border-color:#673ab7!important
}
 .lp-border-red,.lp-hover-border-red:hover{
    border-color:#f44336!important
}
 .lp-border-sand,.lp-hover-border-sand:hover{
    border-color:#fdf5e6!important
}
 .lp-border-teal,.lp-hover-border-teal:hover{
    border-color:#009688!important
}
 .lp-border-yellow,.lp-hover-border-yellow:hover{
    border-color:#ffeb3b!important
}
 .lp-border-white,.lp-hover-border-white:hover{
    border-color:#fff!important
}
 .lp-border-black,.lp-hover-border-black:hover{
    border-color:#000!important
}
 .lp-border-grey,.lp-hover-border-grey:hover,.lp-border-gray,.lp-hover-border-gray:hover{
    border-color:#9e9e9e!important
}
 .lp-border-light-grey,.lp-hover-border-light-grey:hover,.lp-border-light-gray,.lp-hover-border-light-gray:hover{
    border-color:#f1f1f1!important
}
 .lp-border-dark-grey,.lp-hover-border-dark-grey:hover,.lp-border-dark-gray,.lp-hover-border-dark-gray:hover{
    border-color:#616161!important
}
 .lp-border-pale-red,.lp-hover-border-pale-red:hover{
    border-color:#ffe7e7!important
}
 .lp-border-pale-green,.lp-hover-border-pale-green:hover{
    border-color:#e7ffe7!important
}
 .lp-border-pale-yellow,.lp-hover-border-pale-yellow:hover{
    border-color:#ffffcc!important
}
.lp-border-pale-blue,.lp-hover-border-pale-blue:hover{
    border-color:#e7ffff!important
}
 
/* Added */

iframe {
  border:none;
}

.no-link-deco {
    text-decoration: none;
}

.full-width {
    width:100%;
}

.icon-headline {
  display: flex;
  align-items: center; /* Vertikale Ausrichtung */
}

.icon-headline img {
  height: 1em; /* Höhe des Bildes auf die Höhe der Schrift setzen */
  margin-right: 10px; /* Abstand zwischen Bild und Überschrift */
}

/* Collapsible menu */
.collapsible {
  border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}

.active, .collapsible:hover {
  color:#000!important;
    background-color:#fff!important
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.lp-button-collapsible {
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:#000;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}

.collapsible:after {
  /*content: '\02795';*/ /* Unicode character for "plus" sign (+) */
  content: '+';
  font-size: 1.5em;
  /*font-weight: bold;*/
  line-height: 1;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  /*content: "\2796";*/ /* Unicode character for "minus" sign (-) */
  content: '-';
  color: #f44336!important;
}

.collapsible:hover:after {
  color: #f44336!important;
}

/* Expandable section styles */
      details {
        margin: 20px;
        background-color: #616161;
        padding: 15px;
        border-radius: 5px;
        color: #fff;
        text-align: left;
      }

      summary {
        cursor: pointer;
        font-weight: bold;
        text-align: left;
        color: #fff;
        font-size: 16px;
      }
